<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<title>My portfolio</title>
	
</head>
<body>
		<!--Navigation bar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </nav>

<!--image and short intro-->
  <div class="container-fluid p-5 bg-wight text-black text-center">

  	<img src="../assets/img/me..jpg" class="rounded-circle" height="200" width="200">
    <h4 style="color: red;">It's me</h4>
    <img src="../assets/img/facebook.svg" height="30" width="30">

    <img src="../assets/img/linkedin.svg" height="30" width="30">

    <img src="../assets/img/insta.svg" height="30" width="30">
  </div>


<!--About Section-->
<div class="container mt-5">
  <h2 id="about">About</h2>
  <font size="5">
    My self
  </font>
</div>
<p>
  My name is Sandesh giri.I am from ramechhap which is very beautyful place to visit.I like to play game and many other staff in free time.I just gave my SEE exam from peace point boarding school.I want to be a great polition beacause due to the bad conditiom of our country.Due too the bad condition of our country we are facing difficulties in our study,health etc.. which lead me to be a polition.One of the main reason  why i want to be a polition is to develop our country. 
</p>
 
<!-- Academic History Section--> 
 <div class="container mt-5">  
  <h2>Academic History</h2>  
  <div class="row">  
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header"><h5 class="card-title">Basic Level Examination (BLE)</h5></div>
          <div class="card-body text-secondary">
            <p class="card-text">
              GPA=3.4(A)<br>
              Date=2076<br>
              School name=Peace point boarding schoo<br>
              Location=Old baneshwor,Katyani chowk
            </p>
          </div>
        </div>
      </div>

   <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
       <div class="card-header"><h5 class="card-title">Secondary Education Examination (SEE)</h5></div>
        <div class="card-body text-secondary">
         <p class="card-text">
           GPA=_______<br>
           Date=2078<br>

           School=Peace point boarding school
         </p> 
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-flex align-items-stretch">
     <div class="card border-secondary mb-3" style="max-width: 18rem;">
       <div class="card-header"><h5 class="card-title">Computer Courses</h5></div>
        <div class="card-body text-secondary">
         <p class="card-text">
           GPA=_______<br>
           Institue=Khathalaya institue<br>

           Location=Chabahil,kl tower
         </p> 
        </div>
      </div>
    </div>  
  </div> 
</div>

<!--Contact From-->
<div class="container">
  <h2 id="contact">Contact me</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="well well-sm">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="form-control" id="name" placeholder="Enter name" required="required"/>
              </div>

              <div class="form-group" id="name" required="required">
                <label for="email">Email Address</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon-envelop"></span></span>
                  <input type="email" name="form-control" id="email" placeholder="Enter email" required="required"/>
                </div>

                <div class="form-group">
                  <label for="subject">Subject</label>
                  <select id="subject" name="subject" class="form-control"
                  required="required">
                  <option value="na" selected="">Choose one</option>   
                  <option value="service">Job offer</option>
                  <option value="suggestion">Suggestion</option>
                  <option value="product">Scholarship</option>
                  </select>        
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea name="message" id="Message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <button type="submit" class="btn tbtn-primary pull-right" id="btncontactuds">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <form>
        <legend><span class="glyphicon glyphicon-globe"></span><h2 id="address">Address</h2></legend>
        <address>
          <strong>love u, me too.</strong><br>
          NEPAL,Kathmandu<br>
          sinamangal,galli no:94107<br>
          <abbr tittle="phone">p:</abbr>
          +977 9880905069
        </address>

        <address><strong>Sandesh giri</strong><br>
          <a href=""mailto:#>girisandesh20@gmail.com</a>
        </address>
      </form>
    </div>
  </div>
</div>       
  
 <!-- footer -->
      <footer class="page-footer font-small dark">

        <!-- copyright -->
        <div class="footer-copyright text-center py-3"> &copy; 2020 copyright:<a href="/">Sandesh Giri</a></div>
        <!-- copyright -->
        
      </footer>
</body>
</html>